<%= content_for :operation_bar do %>
  <div class="container">
    <ul class="bs-docs-social-buttons">
        <li>
          <%= link_to '上传图片', new_circle_group_picture_path(@group) %>
        </li>        
    </ul>
  </div>
<% end %>

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
	<% @pictures.each do |picture| %>
	    <div class="item">
	    	<div><%= image_tag(picture.activity) %></div>
	    	<div><%= picture.description %></div>
	    </div>
	<% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<script type="text/javascript">
$('.carousel').carousel({
  interval: 5000
})
</script>